<section onclick="updateRoutine" class="exercise">
  {{@index}}
  <a>
  <div class="exercise-details">
    <header>{{name}}</header>
    <p>Muscle: {{muscle}}</p>
    <img src="/images{{images}}" alt="{{description}}"width="360" height="360">
  </div>
  </a>
</section>

<script src="/js/update.js"></script>
