<section class="col-12 col-md-6 col-xl-4">
  <div class="card containerGroup exercise p-3">
    <a href="/exercise/{{id}}">
      <div class="exercise-details">
        <header>{{name}}</header>
        <p>Muscle: {{muscle}}</p>
        <img class="img-fluid" src="/images/{{image}}" alt="{{description}}">
      </div>
    </a>
  </div>
</section>