<section class="exercise">
  {{@index}}
  <a href="/exercise/{{id}}">
  <div class="exercise-details">
    <header>{{name}}</header>
    <p>Muscle: {{muscle}}</p>
    <img src="/images/{{image}}" alt="{{description}}"width="360" height="360">
  </div>
  </a>
</section>
