<section>
    <p>Name of Exercise: {{name}}</p>
    <p>Muscle: {{muscle}}</p>
    <p>Equpiment Required: {{equipment}}</p>
    <p>Difficulty: {{difficulty}}</p>
    <p>Instructions: {{instruction}}</p>
</section>