<section class="col-12 col-md-6 col-xl-4">
    <div class="card containerGroup exercise p-3">
        <img class="img-fluid" src="/images/{{image}}" alt="{{description}}">
        <h4>Exercise: {{name}}</h4>
        <p>Muscle: {{muscle}}</p>
        <p>Equpiment Required: {{equipment}}</p>
        <p>Difficulty: {{difficulty}}</p>
        <p>Instructions: {{instruction}}</p>
    </div>
</section>