<section class="containerGroup exercise g-col-4">
    <img src="/images/{{image}}" alt="{{description}}" width="360" height="360">
    <h4>Exercise: {{name}}</h4>
    <p>Muscle: {{muscle}}</p>
    <p>Equpiment Required: {{equipment}}</p>
    <p>Difficulty: {{difficulty}}</p>
    <p>Instructions: {{instruction}}</p>
</section>