<section>
    <form class="deleteExercise-form">
    <h3>{{name}}</h3>
    <p>{{muscle}}</p>
    <p>{{equipment}}</p>
    <p>{{difficulty}}</p>    
    <p>{{instruction}}</p>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Delete</button>
    </div>
    </form>
</section>

<script src="/js/delete.js"></script>
