<section>
    <h3>{{name}}</h3>
    <p>{{muscle}}</p>
    <p>{{equipment}}</p>
    <p>{{difficulty}}</p>    
    <p>{{instruction}}</p>
    <img src="/images/{{image}}" alt="{{description}}">
    <div class="form-group">
        <button class="btn btn-danger" id="{{id}}" type="submit">Delete</button>
    </div>
</section>

<script src="/js/delete.js"></script>