<section class="col-12 col-md-6 col-xl-4">
    <div class="card containerGroup exercise p-3">
        <h3>Exercise:{{name}}</h3>
        <p>Muscle:{{muscle}}</p>
        <p>Equipment:{{equipment}}</p>
        <p>Difficulty:{{difficulty}}</p>    
        <p>Instructions:{{instruction}}</p>
        <img class="img-fluid" src="/images/{{image}}" alt="{{description}}">
        <div class="form-group mt-3">
            <button class="btn btn-danger" id="{{id}}" type="submit">Delete</button>
        </div>
    </div>
</section>

<script src="/js/delete.js"></script>