<section class="containerGroup exercise g-col-4">
    <h3>Exercise:{{name}}</h3>
    <p>Muscle:{{muscle}}</p>
    <p>Equipment:{{equipment}}</p>
    <p>Difficulty:{{difficulty}}</p>    
    <p>Instructions:{{instruction}}</p>
    <img src="/images/{{image}}" alt="{{description}}" width="360" height="360">
    <div class="form-group">
        <button class="btn btn-danger" id="{{id}}" type="submit">Delete</button>
    </div>
</section>

<script src="/js/delete.js"></script>