<section class="exercise">
  <form class="delete-form">
    <a href="/routine/{{id}}">
    <input type="hidden" value="{{id}}">
    
      <div class="exercise-details">
        <div class="routineID">{{id}}</div>
        <header>{{name}}</header>
        <img src="/" alt="">
      </div>
    </a>
    <div class="form-group">
      <button class="btn btn-primary" onclick="deleteRoutine({{id}})" type="submit">add{{id}}</button>
    </div>
  </form>
</section>
