
<section>
    <img src="" alt="">
    <header>
        <h3>Exercise: {{exercise.name}}</h3>
        <h4>Muscle: {{exercise.muscle}}</h4>
    </header>
    <div>
    <p>Difficulty: {{exercise.difficulty}}</p>
    <p>Equipment: {{exercise.equipment}}</p>
    <p>Instruction: {{exercise.instruction}}</p>
    </div>
</section>